.module {
    width: 60%;
    border: 1px solid #062C65;
    height: fit-content;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.25);
}

@media (max-width: 767px) {
    .module {
        width: 90%;
    }
}

.module-title {
    color: white;
    font-family: "Hammersmith One", sans-serif;
}

.lesson {
    color: white;
    font-family: "Hammersmith One", sans-serif;
}

.lesson-title i {
    font-size: 1.5rem;
}