.all-uneed {
    width: 100vw;
    height: fit-content;
    background-color: #062C65;
    padding: 3rem;
}

.all-uneed .button-primary {
    margin-top: 2rem;
}

.row {
    margin-top: 7rem;
}

@media (max-width: 767px) {
    .mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .sr {
        margin-top:0;
    }
}